.text-up{
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.f-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-space{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
