*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article, details, figcaption, figure, footer, header, main, menu, nav, section {
  display: block;
}

a, article, b, blockquote, body, center, cite, code, details, div, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, header, html, i, iframe,
img, label, li, main, menu, nav, object, ol, p, s, section, span, strong, sub,
table, tbody, td, th, thead, time, tr, tt, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.text-md {
  font-size: 16px;
  line-height: 2;
}

.text-lg {
  font-size: 20px;
  color: #313a5a;
}

.title-lg {
  line-height: 1.6;
  font-size: 40px;
  font-weight: bold;
  color: #313a5a;
}

.text-up {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.f-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-lg, .btn-md, .btn-sm {
  background-color: #1fdb84;
  border-radius: 5px;
  box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.btn-sm {
  padding: 4px 25px;
  border-radius: 5px;
  line-height: 2.13;
}

.btn-md {
  padding: 18px 45px;
  border-radius: 10px;
  box-shadow: 0 -8px 34px 0 rgba(31, 219, 132, 0.6);
}

.btn-lg {
  padding: 21px 42px;
  letter-spacing: 1px;
}

.pricing__card {
  border-radius: 10px;
  height: 70vh;
  max-width: 378px;
  min-height: 500px;
  max-height: 700px;
  padding: 56px 62px;
  flex-direction: column;
  overflow: hidden;
}
.pricing__card h3 {
  margin-bottom: 31px;
}
.pricing__card .price {
  display: block;
  font-size: 72px;
  color: #1fdb84;
}
.pricing__card.active {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 7px 24px 0 rgba(83, 83, 83, 0.1);
}
.pricing__card.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #0a8aff;
}
@media screen and (max-width: 1024px) {
  .pricing__card {
    box-shadow: 0 1px 2px 0 rgba(48, 58, 71, 0.2);
  }
}

.testimonials-cards__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  padding: 80px 60px 63px 50px;
  border-radius: 6px;
  box-shadow: 12px 12px 40px 0 rgba(121, 121, 121, 0.3);
  background-color: rgba(255, 255, 255, 0.95);
}
.testimonials-cards__card q {
  width: 300px;
}
.testimonials-cards__card.active {
  color: #ffffff;
  background-color: #1fdb84;
}
.testimonials-cards__card.active svg g {
  fill: #ffffff;
}
.testimonials-cards__card.active .user-name {
  color: #ffffff;
}

.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 3px #ffffff;
  cursor: pointer;
}
.dot.active {
  background-color: #ffffff;
}

header {
  padding: 25px 0;
  background-color: #313a5a;
  position: relative;
}
header a {
  color: #ffffff;
}
header .logo {
  font-size: 26px;
  font-weight: 500;
  line-height: 2.23;
}
@media screen and (max-width: 768px) {
  header .main-nav {
    position: absolute;
    right: 0;
    top: 90px;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    background-color: #313a5a;
    box-shadow: 2px 19px 19px -9px rgba(0, 0, 0, 0.75);
  }
}

.menu-btn {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .menu-btn {
    display: block;
  }
}
.menu-btn .ham-bar {
  position: relative;
  width: 25px;
  height: 3px;
  background-color: #1fdb84;
}
.menu-btn .ham-bar::before {
  content: "";
  position: absolute;
  display: block;
  top: -8px;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: #1fdb84;
}
.menu-btn .ham-bar::after {
  content: "";
  position: absolute;
  display: block;
  top: 8px;
  left: 0;
  width: 28px;
  height: 3px;
  background-color: #1fdb84;
}

.main-nav,
.button-wrap {
  gap: 37px;
}

footer {
  padding-bottom: 100px;
}
@media screen and (max-width: 768px) {
  footer {
    padding-bottom: 50px;
  }
}
footer a {
  color: #5b6c94;
}
footer .footer-nav {
  margin-top: 50px;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  footer .footer-nav {
    flex-direction: column;
    gap: 20px;
  }
}
footer .footer-nav li:not(:last-child)::after {
  content: "/";
  margin-left: 40px;
}
@media screen and (max-width: 768px) {
  footer .footer-nav li:not(:last-child)::after {
    content: "";
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-nav {
    margin-top: 20px;
  }
}

body {
  background-color: #f8f9fc;
  color: #5b6c94;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 16px;
}

header {
  padding: 25px 0;
  background-color: #313a5a;
  position: relative;
}
header a {
  color: #ffffff;
}
header .logo {
  font-size: 26px;
  font-weight: 500;
  line-height: 2.23;
}
@media screen and (max-width: 768px) {
  header .main-nav {
    position: absolute;
    right: 0;
    top: 90px;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    background-color: #313a5a;
    box-shadow: 2px 19px 19px -9px rgba(0, 0, 0, 0.75);
  }
}

.menu-btn {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .menu-btn {
    display: block;
  }
}
.menu-btn .ham-bar {
  position: relative;
  width: 25px;
  height: 3px;
  background-color: #1fdb84;
}
.menu-btn .ham-bar::before {
  content: "";
  position: absolute;
  display: block;
  top: -8px;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: #1fdb84;
}
.menu-btn .ham-bar::after {
  content: "";
  position: absolute;
  display: block;
  top: 8px;
  left: 0;
  width: 28px;
  height: 3px;
  background-color: #1fdb84;
}

.main-nav,
.button-wrap {
  gap: 37px;
}

.hero {
  min-height: 600px;
  background-color: #313a5a;
  color: #ffffff;
}
.hero .container {
  height: 100%;
}
.hero__content {
  flex-shrink: 2;
  max-width: 550px;
}
.hero h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
}
.hero p {
  margin-bottom: 35px;
}
.hero__banner {
  width: 460px;
}
.hero__banner img {
  width: 100%;
}

.benifits .container {
  padding: 60px 78px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
  transform: translateY(-95px);
}
@media screen and (max-width: 1024px) {
  .benifits .container {
    transform: translateY(0);
    box-shadow: none;
    margin-bottom: 100px;
    padding: 60px 16px;
  }
}
.benifits-items {
  gap: 100px;
}
@media screen and (max-width: 1024px) {
  .benifits-items {
    gap: 50px;
  }
}
@media screen and (max-width: 768px) {
  .benifits-items {
    flex-wrap: wrap;
  }
}
.benifits-items__item {
  width: 300px;
}
@media screen and (max-width: 768px) {
  .benifits-items__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.benifits-items__icon {
  width: 72px;
  height: 72px;
  border-radius: 6px;
  margin-bottom: 26px;
  background-color: rgba(31, 219, 132, 0.1);
}
.benifits-items__icon img {
  width: 40px;
  height: 33px;
}
.benifits-items h3 {
  position: relative;
  padding-bottom: 28px;
}
@media screen and (max-width: 768px) {
  .benifits-items h3 {
    padding-bottom: 10px;
  }
}
.benifits-items h3::after {
  content: "";
  width: 60px;
  height: 4px;
  background-color: #1fdb84;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .benifits-items h3::after {
    width: 100%;
  }
}
.benifits-items p {
  margin-top: 18px;
}

.pricing {
  padding-bottom: 200px;
}
.pricing .container {
  flex-direction: column;
  gap: 60px;
}
.pricing h2.title-lg {
  max-width: 800px;
}
.pricing .card-wrap {
  gap: 24px;
}
@media screen and (max-width: 1024px) {
  .pricing .card-wrap {
    flex-wrap: wrap;
  }
}

.plan-toggler {
  border-radius: 5px;
  border: solid 1px #aefdd9;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #6fdeaa;
  background-color: #f1fff8;
  overflow: hidden;
  cursor: pointer;
}

.monthly {
  display: inline-block;
  padding: 20px 35px;
  border-right: solid 1px #aefdd9;
}
.monthly.active {
  background-color: #ffffff;
  color: #1fdb84;
}

.yearly {
  padding: 20px 30px 20px 40px;
}
.yearly.active {
  background-color: #ffffff;
  color: #1fdb84;
}

.testimonials {
  background: url("../images/quote-bg.png"), linear-gradient(to right, #313a5a, #313a5a);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, top right;
  background-size: 22%, 1000px;
  overflow: hidden;
}
.testimonials h2 {
  padding: 70px 0;
}
.testimonials-cards {
  gap: 20px;
  transform: translateX(40%);
}
.testimonials .dot-wrap {
  padding: 90px 0;
  gap: 16px;
}

.user-name {
  color: #313a5a;
  font-weight: bold;
}

.clients {
  padding: 180px 0;
}
@media screen and (max-width: 768px) {
  .clients {
    padding: 60px 0;
  }
}
.clients h2 {
  margin-bottom: 45px;
}
.clients-wrapper {
  gap: 48px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .clients-wrapper {
    gap: 30px;
  }
}

footer {
  padding-bottom: 100px;
}
@media screen and (max-width: 768px) {
  footer {
    padding-bottom: 50px;
  }
}
footer a {
  color: #5b6c94;
}
footer .footer-nav {
  margin-top: 50px;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  footer .footer-nav {
    flex-direction: column;
    gap: 20px;
  }
}
footer .footer-nav li:not(:last-child)::after {
  content: "/";
  margin-left: 40px;
}
@media screen and (max-width: 768px) {
  footer .footer-nav li:not(:last-child)::after {
    content: "";
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-nav {
    margin-top: 20px;
  }
}/*# sourceMappingURL=main.css.map */