header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 25px 0;
    transition: 0.5s;


    .#{&}__link {
        color: $text-secondary-color;
    }

    .logo {
        font-size: 26px;
        font-weight: 500;
        line-height: 2.23;
    }
}

.menu-btn {
    display: none;
    cursor: pointer;

    .ham-bar {
        display: inline-block;
        position: relative;
        width: 25px;
        height: 3px;
        background-color: $secondary-color;

        &::before,
        &::after {
            content: '';
            position: absolute;
            display: block;
            left: 0;
            height: 3px;
            background-color: $secondary-color;
            transition: all 0.3s ease-in-out;
        }

        &::before {
            top: -8px;
            width: 20px;
        }

        &::after {
            top: 8px;
            width: 28px;
            
        }
    }
    &.open {
        .ham-bar{
            background: transparent;

            &::before {
                transform: rotate(45deg) translate(3px, 4px);
                width: 28px;
            }
            &::after {
                transform: rotate(-45deg) translate(6px, -9px);                
            }
        }
    }
}

.main-nav ,
.button-wrap
{
    gap: 37px;
}

@include tablet {
    .menu-btn {
        display: block;
    }
    .main-nav {
        position: absolute;
        right: 0;
        flex-direction: column;
        width: 100%;
        gap: 0;
        height: 0;
        z-index: 100;
        overflow: hidden;
        background-color: $primary-color;
        box-shadow: 2px 19px 19px -9px rgba(0,0,0,0.75);
        transition: all 0.5s ease;

        li {
            padding: 15px;

            a:hover {
                color: $secondary-color;
            }
        }

        &.open {
            height: 40%;
        }
    }
}

@include mobile {
    .button-wrap button.btn-sm {
        display: none;
    }
}