body {
    background-color: #f8f9fc;
    color: $text-primary-color;
    font-family: 'Rubik', sans-serif;
    font-size: $base-font-size;
}

.container{
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 16px;
}

.hero {
    position: relative;
    min-height: 600px;
    max-height: 900px;
    height: 90vh;
    background-color: $primary-color;
    color: $text-secondary-color;
    
    .container {
        height: 100%;
    }

    &__content {
        position: relative;
        z-index: 2;
        max-width: 550px;
    }

    h1 {
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 40px;
    }

    p {
        margin-bottom: 35px;
    }

    &__banner {
        width: 400px;

        img {
         width: 100%;
         vertical-align: middle;
        }
    }

}

@include laptop {
    .hero__banner {
        position: absolute;
        bottom: 0;
        right: 16px;
        width: 300px;
        opacity: 0.5;
    }  
}

.benifits {
    .container {
        padding: 60px 78px ;
        border-radius: 10px;
        background-color: $text-secondary-color;
        box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
        transform: translateY(-95px);
    }

    &-items {
        gap: 100px;

        &__item {
            width: 300px;
        }

        &__icon {
            width: 72px;
            height: 72px;
            border-radius: 6px;
            margin-bottom: 26px;
            background-color:rgba(31, 219, 132, 0.1);

            img {
                width: 40px;
                height: 33px;
            }
        }

        h3 {
            position: relative;
            padding-bottom: 28px;

            &::after {
                content: '';
                width: 60px;
                height: 4px;
                background-color: $secondary-color;
                position: absolute;
                left: 0;
                bottom: 0;
            }
  
        }

        p {
             margin-top: 18px;   
        }

    }
}

@include laptop {
    .benifits {
        .container {
            transform: translateY(0);
            box-shadow: none;
            margin-bottom: 100px;
            padding: 60px 16px;
        }

        &-items {
                gap: 50px;
            }
    }
}

@include tablet {
    .benifits {
        &-items {
            flex-wrap: wrap-reverse;

            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                h3 {
                    padding-bottom: 0;
                }

                h3::after {
                    display: none;
                }
            }
        }
    }
}

.pricing {
    padding-bottom: 200px;
    .container {
        flex-direction: column;
        gap: 60px;
    }

    h2.title-lg {
        max-width: 800px;
    } 
    .card-wrap {
        gap: 24px;
    }
}

@include laptop {
    .card-wrap {
        flex-wrap: wrap;
    }
}

.plan-toggler {
    border-radius: 5px;
    border: solid 1px #aefdd9;    
    font-size: $base-font-size;
    font-weight: bold;
    letter-spacing: 2px;
    color: #6fdeaa;
    background-color: #f1fff8;
    overflow: hidden;
    cursor: pointer;
}

.monthly {
    display: inline-block;
    padding: 20px 35px;
    border-right: solid 1px #aefdd9;

    &.active {
       @include active-price;
    }
}

.yearly {
    padding: 20px 30px 20px 40px;

    &.active {
      @include active-price;
    }
}

.testimonials {
    background: url('../images/quote-bg.png') top left / 378px no-repeat, linear-gradient(to right, $primary-color, $primary-color) top right / 60% no-repeat;
    overflow: hidden;

    h2 {
        padding: 70px 0;
    }

    &-cards {
        gap: 20px;
        // transform: translateX(40%);  
    }
}

.user-name {
    color: $primary-color;
    font-weight: bold;
}

@include responsive(1200) {
    .testimonials {
        background: $primary-color;

        h2 {
            color: $text-secondary-color;
            text-align: center;
        }
    }
}


.clients {
    padding: 180px 0;

    h2 {
        margin-bottom: 45px;
    }
    &-wrapper {
        gap: 48px;
        flex-wrap: wrap;
    }
}

@include laptop {
    .clients-wrapper {
        gap: 30px;
    }
}

@include tablet {
    .clients {
        padding: 60px 0;
    }
}

